body {
    font-family: 'Open Sans Condensed', sans-serif;
    /* background-color: black;
    
    color: white; */
    font-size: 20px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 50px;
}

table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    margin: auto;
}

table.paleBlueRows td,
table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 6px 10px;
}

table.paleBlueRows tbody td {
    font-size: 13px;
}

table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
}

table.paleBlueRows thead {
    background: rgb(146, 197, 251);
    border-bottom: 5px solid #FFFFFF;
}

table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}

table.paleBlueRows thead th:first-child {
    border-left: none;
}

table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #53A6FC;
    background: #53A6FC;
    border-top: 3px solid #53A6FC;
}

table.paleBlueRows tfoot td {
    font-size: 14px;
}

.reset {
    cursor: pointer;
}

.center {
    text-align: center;
}

#pieChart {
    padding: 0;
    /* max-width: 380px; */
    /* min-width: 350px; */
    width: 380px;
    margin: 35px;
    margin-top: -35px;
}

#barChart {
    max-width: 100%;
    min-width: 350px;
}

.inline {
    display: inline;
}

#barChartHeader {
    margin-top: 130px;
}


/* dashboard code  */

.s-hidden {
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font: normal 11px/22px Arial, Sans-Serif;
    color: black;
    border: 1px solid #ccc;
}

.styledSelect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
    position: absolute;
    top: 9px;
    right: 6px;
}

.styledSelect:active,
.styledSelect.active {
    background-color: #eee;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.options li {
    padding: 0 6px;
    margin: 0 0;
    padding: 0 10px;
}

.options li:hover {
    background-color: #39f;
    color: white;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* max-width: 500px; */
}

.flex-child:first-child {
    /* margin-right: 20px; */
}